@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@mixin mobilePageHeader {
  font: "Avenir-bold";
  font-size: 2rem;
}

@mixin mobileSubHeader {
  font: "Avenir-demi";
  font-size: 1.2rem;
}

@mixin mobileBodyCopy {
  font: "Avenir";
  font-size: 1.2rem;
}

@mixin mobileLabels {
  font: "Avenir-bold";
  font-size: 0.625rem;
}

//desktop and tablet

@mixin desktopPageHeader {
  font: "Avenir-bold";
  font-size: 3.75rem;
}

@mixin desktopSectionHeader {
  font: "Avenir-bold";
  font-size: 2.25rem;
}

@mixin desktopSubHeader {
  font: "Avenir-demi";
  font-size: 1.5rem;
}

@mixin desktopBodyCopy {
  font: "Avenir";
  font-size: 0.875rem;
}

@mixin desktopLabels {
  font: "Avenir-bold";
  font-size: 0.75rem;
}
