@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variable" as *;

.Upload {
  padding-left: 1rem;
  padding-right: 1rem;
  &__thumbnail {
    width: 100%;
    display: block;
  }
  &__title {
    @include mobileSubHeader;
    color: $PrimaryColor3;
    font-weight: 500;
    padding-bottom: 1rem;
    @include tablet {
      @include desktopSubHeader;
    }
  }
  &__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: $PrimaryColor2;
    border: none;
    border-radius: 0.25rem;
    color: $PrimaryColor4;
    font-weight: 700;
    @include tablet {
      width: 10rem;
    }
  }
}
