@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variable" as *;

.Header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  @include tablet {
    display: flex;
  }

  &__logoicon {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  &__logo {
    width: 30%;
    display: block;
    @include tablet {
      padding-left: 2.25rem;
      width: 100%;
    }
  }
  &__searchsection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
      justify-content: center;
    }
  }

  &__icon {
    width: 3rem;

    height: 3rem;
    object-fit: cover;
    border-radius: 50%;

    @include tablet {
      width: 3rem;
      height: 3rem;
      position: sticky;
      left: 100rem;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    background: url("../../assets/images/search.svg") no-repeat;
    border-color: $SecondaryColor3;
    border-style: solid;
    border-radius: 0.25rem;
    width: 25rem;
    height: 3rem;

    @include tablet {
      height: 3rem;
    }

    &::placeholder {
      padding-left: 2rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: $PrimaryColor2;
    border: none;
    border-radius: 0.25rem;
    color: $PrimaryColor4;
    font-weight: 700;
    @include tablet {
      width: 10rem;
    }
  }
}
